<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
  </head>
  <body>
    <ul>
      <li><h2>you need to register new acount</h2></li>
      <li>
        <h2>you can't go to admin and user opage product without login</h2>
      </li>
      <a href="/signup">
        <li><button>Register Now</button></li></a
      >
    </ul>
  </body>
</html>
